Babel==2.8.0
Click==7.0
Flask==1.1.1
Flask-Babel==0.12.2
Flask-Bootstrap==3.3.7.1
Flask-Mail==0.9.1
Flask-Widgets==0.5
Flask-WTF==0.14.2
gunicorn==19.5.0
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
pytz==2019.3
Werkzeug==0.16.0
Flask-WTF==0.14.2
WTForms==2.2.1