{% extends 'base.html' %}
{% block content %}


<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="calendar">
                    <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23039BE5&amp;ctz=Europe%2FKiev&amp;src=OWhubDVmb24zdG0zdXNsNmlvMm1tcHU0cDRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23795548&amp;showNav=1&amp;showTitle=0&amp;showDate=1&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0" style="border:solid 1px #777" width="1100" height="600" frameborder="0" scrolling="no"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}