{% extends 'base.html' %}
{% block content %}


	<section id="about" class="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">
					<div>
						<iframe src="https://www.google.com/maps/embed?pb=!1m17!1m8!1m3!1d5124.765596389898!2d31.374720999999997!3d50.04166!3m2!1i1024!2i768!4f13.1!4m6!3e0!4m0!4m3!3m2!1d50.0414256!2d31.3766948!5e0!3m2!1suk!2sua!4v1578232933984!5m2!1suk!2sua" width="600" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
					</div>
				</div>
				<div class="col-lg-5">
					<div class="history">
						<h2 class="history__title">
							Ми знаходимось
						</h2>
						<br class="history__text">
							Наша яхта пришвартована на базі <span class="blue_color">УТМР "ЧУБУКИ"</span>, на захисній дамбі
							<span class="blue_color">Канівського водосховища</span>, за 10 хв їзди від <span class="blue_color">автостанції ПЕРЕЯСЛАВ</span>
							та за одну годину від <span class="blue_color">Києва</span>.
						</br>
						</br>
							Від <span class="blue_color">м. Позняки,Харківська чи Чернігівська</span> можна доїхати рейсовою маршруткою до
							<span class="blue_color">а/с ПЕРЕЯСЛАВ</span> і, далі, на таксі за 10 хв. При під'їзді до бази, зателефонуйте вашому
							капітану і він зустріне Вас біля воріт.
						</br>
						</br>
							На території є <span class="blue_color">парковка</span> для авто , що охороняється.</p>
					</div>
				</div>
				</div>
			</div>
		</div>
	</section>
	{% endblock %}
