{% extends 'base.html' %}
{% block content %}

	<section id="about" class="about">
<!--		<div class="container">-->
<!--			<div class="row">-->
<!--				<div class="col-lg-12">-->
<!--					<div id="carousel" class="carousel slide" data-ride="carousel">-->
<!--					  &lt;!&ndash; Indicators &ndash;&gt;-->
<!--					  <ol class="carousel-indicators">-->
<!--						<li data-target="#carousel" data-slide-to="0" class="active"></li>-->
<!--						<li data-target="#carousel" data-slide-to="1"></li>-->
<!--						<li data-target="#carousel" data-slide-to="2"></li>-->
<!--					  </ol>-->
<!--					  <div class="carousel-inner">-->
<!--						<div class="item active">-->
<!--						  <img src="{{url_for('static', filename='img/kaniv_sea_1.jpg')}}" alt="...">-->
<!--						</div>-->
<!--						<div class="item">-->
<!--						  <img src="{{url_for('static', filename='img/kaniv_sea_2.jpg')}}." alt="...">-->
<!--						</div>-->
<!--						<div class="item">-->
<!--						  <img src="{{url_for('static', filename='img/church.jpg')}}" alt="...">-->
<!--						</div>-->
<!--					  </div>-->
<!--					  &lt;!&ndash; Control elements &ndash;&gt;-->
<!--					  <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">-->
<!--						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
<!--						<span class="sr-only">Попередній</span>-->
<!--					  </a>-->
<!--					  <a class="right carousel-control" href="#carousel" role="button" data-slide="next">-->
<!--						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
<!--						<span class="sr-only">Наступний-</span>-->
<!--					  </a>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
		<div class="container">
			<h1 class="h3 text-center my-4">Галерея</h1>
			<div class="row">
				<div class="col-lg-3 col-md-4 col-6 thumb">
					<a data-fancybox="gallery" href="{{url_for('static', filename='img/kaniv_sea_1.jpg')}}">
						<img class="img-fluid" src="{{url_for('static', filename='img/kaniv_sea_1-min.jpg')}}" alt="...">
					</a>
				</div>
				<div class="col-lg-3 col-md-4 col-6 thumb">
					<a data-fancybox="gallery" href="{{url_for('static', filename='img/kaniv_sea_2.jpg')}}">
						<img class="img-fluid" src="{{url_for('static', filename='img/kaniv_sea_2-min.jpg')}}" alt="...">
					</a>
				</div>
				<div class="col-lg-3 col-md-4 col-6 thumb">
					<a data-fancybox="gallery" href="{{url_for('static', filename='img/kaniv_sea_1.jpg')}}">
						<img class="img-fluid" src="{{url_for('static', filename='img/kaniv_sea_1-min.jpg')}}" alt="...">
					</a>
				</div>
				<div class="col-lg-3 col-md-4 col-6 thumb">
					<a data-fancybox="gallery" href="{{url_for('static', filename='img/kaniv_sea_2.jpg')}}">
						<img class="img-fluid" src="{{url_for('static', filename='img/kaniv_sea_2-min.jpg')}}" alt="...">
					</a>
				</div>
				<div class="col-lg-3 col-md-4 col-6 thumb">
					<a data-fancybox="gallery" href="{{url_for('static', filename='img/kaniv_sea_1.jpg')}}">
						<img class="img-fluid" src="{{url_for('static', filename='img/kaniv_sea_1-min.jpg')}}" alt="...">
					</a>
				</div>
			</div>
		</div>
	</section>
{% endblock %}