{% extends 'base.html' %}
{% block content %}

	<section id="about" class="about">
		<div class="container">
			<h1 class="h3 text-center my-4">Галерея</h1>
			<div class="row">
				<div class="col-lg-3 col-md-4 col-6 thumb">
					<a data-fancybox="gallery" href="{{url_for('static', filename='img/dehler_2.jpg')}}">
						<img class="img-fluid" src="{{url_for('static', filename='img/dehler_2.jpg')}}" alt="...">
					</a>
				</div>
				<div class="col-lg-3 col-md-4 col-6 thumb">
					<a data-fancybox="gallery" href="{{url_for('static', filename='img/for_gallery_1.jpg')}}">
						<img class="img-fluid" src="{{url_for('static', filename='img/for_gallery_1-min.jpg')}}" alt="...">
					</a>
				</div>
				<div class="col-lg-3 col-md-4 col-6 thumb">
					<a data-fancybox="gallery" href="{{url_for('static', filename='img/for_gallery_2.jpg')}}">
						<img class="img-fluid" src="{{url_for('static', filename='img/for_gallery_2-min.jpg')}}" alt="...">
					</a>
				</div>
				<div class="col-lg-3 col-md-4 col-6 thumb">
					<a data-fancybox="gallery" href="{{url_for('static', filename='img/kaniv_sea_2.jpg')}}">
						<img class="img-fluid" src="{{url_for('static', filename='img/kaniv_sea_2-min.jpg')}}" alt="...">
					</a>
				</div>
				<div class="col-lg-3 col-md-4 col-6 thumb">
					<a data-fancybox="gallery" href="{{url_for('static', filename='img/dehler_1.jpg')}}">
						<img class="img-fluid" src="{{url_for('static', filename='img/dehler_1.jpg')}}" alt="...">
					</a>
				</div>
				<div class="col-lg-3 col-md-4 col-6 thumb">
					<a data-fancybox="gallery" href="{{url_for('static', filename='img/wing.jpg')}}">
						<img class="img-fluid" src="{{url_for('static', filename='img/wing.jpg')}}" alt="...">
					</a>
				</div>
				<div class="col-lg-3 col-md-4 col-6 thumb">
					<a data-fancybox="gallery" href="{{url_for('static', filename='img/landscape.jpg')}}">
						<img class="img-fluid" src="{{url_for('static', filename='img/landscape.jpg')}}" alt="...">
					</a>
				</div>
				<div class="col-lg-3 col-md-4 col-6 thumb">
					<a data-fancybox="gallery" href="{{url_for('static', filename='img/kaniv_sea_1.jpg')}}">
						<img class="img-fluid" src="{{url_for('static', filename='img/kaniv_sea_1-min.jpg')}}" alt="...">
					</a>
				</div>
			</div>
		</div>
	</section>
{% endblock %}