{% extends 'base.html' %}
{% block content %}


	<section id="about" class="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="history">
						<h2 class="history__title">
							Про нас
						</h2>
						<br class="history__text">
							<p>Прогулянка Дніпром в Переяславі на чудовій, комфортабельній <a href="/gallery">круїзній яхті</a> — це ,справді, цікаво!
							Захопливі та пізнавальні маршрути, безпечний та симпатичний вітрильник і надійний капітан за штурвалом.
							Під час прогулянки Канівським Морем, можна відсвяткувати день народження або іншу важливу подію, провести весільну фотосесію, запросити на водну екскурсію біля історичних берегів сивого Славутича партнерів чи друзів, або й просто подарувати собі та своїй родині повний позитивних вражень тур вихідного дня найбільшою рікою України.
							Бронюйте річкову прогулянку на наших яхтах в Переяславі, і ми вирушимо просторами Дніпра, вздовж високих, вкритих густим лісом круч історичного Трахтемирова, Монастирка та тисячолітнього Заруба, від магічних Гори Маківки та славної Батуриної гори до цілющого Бучакового озера, з висадкою на безлюдні піщані пляжі, з купанням та риболовлею у Бухті Острова Зміїного біля Канева...
							</p>

						<p id="hide">
							Власне, суть винайму вітрильника на Дніпрі проста - це прокат яхти в Переяславі з капітаном та подорож на ній заздалегідь вибраним маршрутом. Насамперед потрібно визначитися з датами бажаної подорожі на
							<a href="/calendar">онлайн-календарі</a>, вибрати маршрут та виконати <a href="/reservation">онлайн-бронювання</a>. Впродовж 4-х годин ми зв'яжемося з вами для з'ясування деталей та ваших додаткових побажань.
							Детальніше про процес і правила бронювання дивіться на сторінці <a href="/reservation">РЕЗЕРВАЦІЯ</a>. Поки шо, ми можемо запропонувати цю послугу тільки для екіпажу із 4-5 (+) людей на борту одного судна (без домашніх тварин).
							Ви, також, можете подарувати прогулянку Дніпром за допомогою подарункового сертифіката, отримати практичні уроки керування яхтою. Дивіться <a href="/gallery">фотогалерею</a>> про ті самі місця, на яких пролягають наші маршрути, читайте, як краще <a href="/rent_rules">одягатися і що взяти з собою</a>, про все це -- на нашому сайті.</p>
						<a class="cta history__button" id="hide_btn" onClick="toggle_show('hide', 'hide_btn')">
							Розгорнути
						</a>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="food-images food-images-down">
						<div>
							<a data-fancybox="gallery" href="{{url_for('static', filename='img/dehler_2.jpg')}}">
								<img class="img-fluid" src="{{url_for('static', filename='img/dehler_2.jpg')}}" alt="...">
							</a>
						</div>
						<div>
							<a data-fancybox="gallery" href="{{url_for('static', filename='img/for_gallery_1.jpg')}}">
								<img class="img-fluid" src="{{url_for('static', filename='img/for_gallery_1-min.jpg')}}" alt="...">
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="food-images">
						<div>
							<a data-fancybox="gallery" href="{{url_for('static', filename='img/wing.jpg')}}">
								<img class="img-fluid" src="{{url_for('static', filename='img/wing.jpg')}}" alt="...">
							</a>
						</div>
						<div>
							<a data-fancybox="gallery" href="{{url_for('static', filename='img/for_gallery_2.jpg')}}">
								<img class="img-fluid" src="{{url_for('static', filename='img/for_gallery_2-min.jpg')}}" alt="...">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}