{% extends 'base.html' %}
{% block content %}


	<section id="about" class="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="history">
						<h2 class="history__title">
							Про нас
						</h2>
						<br class="history__text">
							<p>⛵️Прогулянка по Дніпру в Переяславі на чудовій, комфортабельній яхті Cruiser — це ,справді, цікаво!
							Захопливі та пізнавальні маршрути, безпечний та симпатичний вітрильник і надійний капітан біля штурвала.
							Під час прогулянки по Канівському Морю, можна відсвяткувати день народження🥳 або іншу важливу подію🤩, провести весільну фотосесію💃🕺, запросити на водну екскурсію біля історичних берегів сивого Славутича партнерів чи друзів😜🤓😎🤝, або й просто подарувати собі та своїй родині повний позитивних вражень тур вихідного дня найбільшою рікою України ⛵️🏝.
							Бронюйте річкову прогулянку на наших яхтах в Переяславі, і ми вирушимо на простори Дніпра, вздовж високих, вкритих густим лісом круч історичного Трахтемирова, Монастирка та тисячолітнього Заруба, від магічних Гори Маківки та славної Батуриної гори до цілющого Бучакового озера, з висадкою на безлюдні піщані пляжі, з купанням та риболовлею у Бухті Острова Зміїного біля Канева...
							</p>

						<p id="hide">
							Власне, сама суть винайму вітрильника на Дніпрі проста - це прокат яхти в Переяславі із капітаном і подорож на ній по заздалегідь вибраному маршруту. Спочатку потрібно визначитися з датами бажаної подорожі на онлайн-календарі, вибрати маршрут (сторінка Маршрути) та розмістити онлайн-бронювання. Протягом 4-х годин ми зв'яжемося з вами для з'ясування деталей і ваших додаткових побажань.
							Детальніше про процес і правила бронювання дивіться на сторінці <a href="/reservation">РЕЗЕРВАЦІЯ</a>. Поки шо, ми можемо запропонувати цю послугу тільки для екіпажу із 4-5 (+) людей на борту одного судна (без домашніх тварин).
							Ви, також, можете подарувати прогулянку по Дніпру за допомогою подарункового сертифіката, отримати практичні уроки керування яхтою. Дивіться фотогалерею про ті самі місця, по яких проходять наші маршрути, читайте, як краще одягатися і що взяти з собою, про все це -- на нашому сайті.</p>
						<a class="cta history__button" id="hide_btn" onClick="toggle_show('hide', 'hide_btn')">
							Розгорнути
						</a>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="food-images food-images-down">
						<img src="{{url_for('static', filename='img/kaniv_sea_1.jpg')}}" width="240" height="180" alt="Sea" class="food">
						<img src="{{url_for('static', filename='img/kaniv_sea_2.jpg')}}" width="240" height="180" alt="Sea" class="food">
					</div>
				</div>
				<div class="col-lg-3">
					<div class="food-images">
						<img src="{{url_for('static', filename='img/kaniv_sea_1.jpg')}}" width="240" height="180" alt="Sea" class="food">
						<img src="{{url_for('static', filename='img/church.jpg')}}" width="240" height="180" alt="Sea" class="food">
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}