{% extends 'base.html' %}
{% block content %}



<section id="about" class="about">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2 class="history__title">
                    Правила оренди
                </h2>
                <p>
                    На вкладці <a href="/reservation">РЕЗЕРВАЦІЯ</a> є on-line календар де можна побачити, в які дні яхта вільна, а в які зайнята.
                    Тож, вибирайте будь-який вільний день, маршрут, заповнюйте свої контактні дані і резервуйте яхту.
                    На, вказаний Вами, e-mail прийде підтвердження про попереднє бронювання. Ми з Вами зв'яжемося
                    протягом 4-х годин, для уточнення деталей та Ваших додаткових побажань.
                    Після цього потрібно внести передплату в розмірі 50% від вартості Вашого Замовлення. Після внесення
                    передплати, яхта гарантовано заброньована за вами на зазначені дату та час. Інша частина оплати
                    вноситься після прибуття гостей на яхту до відплиття.
                    Після прибуття на базу (див. КОНТАКТИ), гості розташовуються на яхті і проходять вступний урок і
                    інструкції з безпеки на судні (10 хв). Капітан і представник команди гостей узгоджують деталі
                    майбутнього маршруту.
                    Є можливість організувати трансфер в яхт-клуб і назад - це потрібно заздалегідь узгодити з нами.
                </p>
                <p>
                    ПАМ'ЯТАЙТЕ: на КАПІТАНА покладається управління яхтою, безпека екіпажу, планування і проходження
                    маршруту,
                    вибір місця стоянки. КАПІТАН відповідає за життя та здоров'я людей, що знаходяться на борту судна,
                    за
                    збереження яхти і її обладнання - тому необхідно уважно дослухатися до рекомендацій КАПІТАНА.
                    Звісно,
                    що КАПІТАН завжди піде назустріч побажанням гостей щодо маршруту та програми відпочинку, дозволить
                    покерувати
                    яхтою і навіть надасть уроки яхтингу - адже прогулянка на вітрильнику -- це радість і задоволення,
                    але тільки
                    тоді , коли це можливо з міркувань безпеки.
                </p>
                <h3>Умови бронювання та оплати:</h3>
                <ol>
                    <li>1. Резервація, зроблена на сайті або по телефону, дійсна протягом 24 годин (у переддень та вихідні
                        дні до 8 години ранку наступного дня).
                    </li>
                    <li>2. При здійсненні передплати в зазначений термін бронювання зберігається за Вами.</li>
                    <li>3. При відсутності передплати протягом 24 годин, резервація автоматично знімається і тепер цей час
                        та день стають вільними для наступних бронювань.
                    </li>
                    <li>4. Сума передплати повертається клієнтові в повному обсязі в разі неможливості проведення чартеру з
                        нашої вини (хвороба,поломка, тощо...)
                    </li>
                    <li>5. У разі відмови від проведення чартеру з ініціативи клієнта більш ніж за 14 днів до дати чартеру
                        МИ відшкодовуємо повну вартість передплати.
                    </li>
                    <li>6. У разі відмови клієнта від проведення чартеру менш ніж за 14 календарних днів до дати чартеру
                        сума передплати не повертається, проте, МИ готові запропонувати Вам інший зручний для Вас день і
                        час чартеру.
                    </li>
                    <li>7. Повна оплата чартеру здійснюється безпосередньо в день чартеру перед відправленням яхти на
                        місці.
                    </li>
                </ol>
                <h4>Як одягатися для прогулянки на яхті</h4>
                <p>
                    <span>Яхтове взуття.</span> Для прогулянки на яхті потрібні черевики з білою немаркою підошвою (типу мокасини або
                    "топ сайдер"). Також підійдуть звичайні кеди або кросівки. Перебувати на яхті у взутті на підборах
                    або шльопанцях не дозволяється.
                    <span>Одяг.</span> На воді може бути прохолодніше, ніж на суходолі, вітряніше, тому з собою рекомендуємо брати
                    кашкет, куртку-вітровку і легкого светра. У спекотний сонячний день з собою обов'язково беріть
                    панаму від сонця і сонцезахисні окуляри.
                </p>
                <h4>Час початку і закінчення прогулянок</h4>
                <p>Яхта готова приймати гостей щодня з 09:00 ранку. Закінчення прогулянок о 20:00.
                    Іноді, коли гостям не хочеться закінчувати відпочинок о 20:00 і вони хочуть продовжити спілкування
                    довше. В цьому випадку, можемо запропонувати провести час на території бази в місцях ,
                    зорганізованих для розведення вогнищ, приготуванню та споживанню їжі, а, також, ночівлю у затишних
                    будиночках біля води (резервація має бути завчасна).

                    Примітка:
                    Якщо гості спізнюються до терміну заброньованої прогулянки, відлік часу все одно йде з самого
                    початку узгодженого періоду.
                    Ми завжди намагаємося піти назустріч і продовжити час прогулянки (за додаткову погодинну оплату)
                    крім випадків, коли яхта заброньована іншими гостями відразу після Вашої прогулянки.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}