{% extends 'base.html' %}
{% block content %}



<section id="about" class="about">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2 class="history__title">
                    <u>Правила оренди</u>
                </h2>
                <p>
                    На вкладці <a href="/reservation">РЕЗЕРВАЦІЯ</a> є <a href="/reservation">on-line календар</a> де можна побачити, в які дні яхта вільна, а в які зайнята.
                    Тож, вибирайте будь-який вільний день, маршрут, заповнюйте свої контактні дані і резервуйте яхту.
                    На, вказаний Вами, e-mail прийде підтвердження про попереднє бронювання. Ми з Вами зв'яжемося
                    протягом 4-х годин, для уточнення деталей та Ваших додаткових побажань.
                    Після цього потрібно внести <span class="red_color">передплату в розмірі 50%</span> від вартості Вашого Замовлення. Після внесення
                    передплати, яхта гарантовано заброньована за вами на зазначені дату та час. Інша частина оплати
                    вноситься після прибуття гостей на яхту до відплиття.
                    Після прибуття на базу (див. <a href="/contacts">КОНТАКТИ</a>), гості розташовуються на яхті і проходять вступний урок і
                    інструкції з безпеки на судні (10 хв). Капітан і представник команди гостей узгоджують деталі
                    майбутнього маршруту.
                    <span class="blue_color">Є можливість організувати трансфер в яхт-клуб і назад - це потрібно заздалегідь узгодити з</span>
                    <a href="/contacts">нами</a>.
                </p>
                <p>
                    <b><u>ПАМ'ЯТАЙТЕ:</u></b> на <span class="blue_color">КАПІТАНА</span> покладається управління яхтою, безпека екіпажу, планування і проходження
                    маршруту,
                    вибір місця стоянки. <span class="blue_color">КАПІТАН</span> <span class="red_color">відповідає за життя та здоров'я</span> людей, що знаходяться на борту судна,
                    за
                    збереження яхти і її обладнання - тому <span class="red_color">необхідно</span> уважно дослухатися до рекомендацій <span class="blue_color">КАПІТАНА</span>.
                    Звісно,
                    що <span class="blue_color">КАПІТАН</span> завжди піде назустріч побажанням гостей щодо маршруту та програми відпочинку, дозволить
                    покерувати
                    яхтою і навіть надасть уроки яхтингу - адже прогулянка на вітрильнику -- це радість і задоволення,
                    але тільки
                    тоді , коли це можливо з міркувань безпеки.
                </p>
                <h3><u>Умови бронювання та оплати:</u></h3>
                <ol>
                    <li>1. Резервація, зроблена на сайті або по телефону, <span class="red_color">дійсна протягом 24 годин</span> (у переддень та вихідні
                        дні до 8 години ранку наступного дня).
                    </li>
                    <li>2. При здійсненні передплати в зазначений термін бронювання зберігається за Вами.</li>
                    <li>3. При відсутності передплати протягом 24 годин, <span class="red_color">резервація автоматично знімається</span> і тепер цей час
                        та день стають вільними для наступних бронювань.
                    </li>
                    <li>4. Сума передплати повертається клієнтові в повному обсязі в разі неможливості проведення чартеру з
                        нашої вини (хвороба,поломка, тощо...)
                    </li>
                    <li>5. У разі відмови від проведення чартеру з ініціативи клієнта <span class="red_color">більш ніж за 14 днів</span> до дати чартеру
                        <span class="red_color">МИ</span> відшкодовуємо повну вартість передплати.
                    </li>
                    <li>6. У разі відмови клієнта від проведення чартеру <span class="red_color">менш ніж за 14 календарних днів</span> до дати чартеру
                        <span class="red_color">сума передплати не повертається</span>, проте, <span class="red_color">МИ</span> готові запропонувати Вам інший зручний для Вас день і
                        час чартеру.
                    </li>
                    <li>7. Повна оплата чартеру здійснюється безпосередньо в день чартеру перед відправленням яхти на
                        місці.
                    </li>
                </ol>
                <h4><u>Як одягатися для прогулянки на яхті</u></h4>
                <p>
                    <span class="blue_color"><u>Яхтове взуття.</u></span> Для прогулянки на яхті потрібні черевики з білою немаркою підошвою (типу мокасини або
                    "топ сайдер"). Також підійдуть звичайні кеди або кросівки. Перебувати на яхті <span class="red_color">у взутті на підборах
                    або шльопанцях <b><u>не дозволяється</u></b>.</span>
                    <span class="blue_color"><u>Одяг.</u></span> На воді може бути прохолодніше, ніж на суходолі, вітряніше, тому з собою рекомендуємо брати
                    кашкет, куртку-вітровку і легкого светра. У спекотний сонячний день з собою обов'язково беріть
                    панаму від сонця і сонцезахисні окуляри.
                </p>
                <h4><u>Час початку і закінчення прогулянок</u></h4>
                <p>Яхта готова приймати гостей щодня з <span class="red_color">09:00</span> ранку. Закінчення прогулянок о <span class="red_color">20:00</span>.
                    Іноді, коли гостям не хочеться закінчувати відпочинок о 20:00 і вони хочуть продовжити спілкування
                    довше. В цьому випадку, можемо запропонувати провести час на території бази в місцях ,
                    зорганізованих для розведення вогнищ, приготуванню та споживанню їжі, а, також, ночівлю у затишних
                    будиночках біля води (<span class="red_color">резервація має бути завчасна</span>).</p>

                    <p>Примітка:
                    <ul>
                        <i>
                            <li>•   Якщо гості спізнюються до <span class="red_color">терміну заброньованої прогулянки</span>, відлік, часу все одно, йде <span class="red_color">з початку</span> узгодженого періоду.</li>
                            <li>•	Ми завжди намагаємося піти назустріч і продовжити час прогулянки (за додаткову погодинну оплату) крім випадків, коли яхта заброньована іншими гостями відразу після Вашої прогулянки.</li>
                            <li>•   І ще одне: дуже просимо залишити цього разу своїх домашніх улюбленців вдома, оскільки, поки що, ми не зможемо забезпечити для них достатнього комфорту та їхню безпеку.</li>
                        </i>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}