{% extends 'base.html' %}
{% block content %}


{% from "_render_field.html" import render_field %}
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="history">
                    <h2 class="history__title">
                        РЕЗЕРВАЦІЯ
                    </h2>
                    <form method="post" action="/" class="reservation_form">
                        {{ form.csrf_token }}
<!--                        <div class="form_froup">-->
<!--                            <label for="inputName" class="col-lg-2">Ім'я та прізвище:</label>-->
<!--                            <div class="col-lg-5">-->
<!--                               <input type="text" class="form_control" id="inputName" placeholder="Ім'я та прізвище" required>-->
<!--                            </div>-->
<!--                        </div>-->
                        {{ render_field(form.username) }}
                        {{ render_field(form.email) }}
<!--                        <div>-->
<!--                            <label for="name">Ім'я та прізвище:</label>-->
<!--                            <input type="text" name="name" required>-->
<!--                        </div>-->
<!--                        <div class="form_froup">-->
<!--                            <label for="inputEmail" class="col-lg-2">Email:</label>-->
<!--                            <div class="col-lg-5">-->
<!--                               <input type="text" class="form_control" id="inputEmail" placeholder="Email" required>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <label for="email">E-mail</label>-->
<!--                            <input type="email" name="email" required>-->
<!--                        </div>-->
                        {{ render_field(form.phone) }}
                        {{ render_field(form.route) }}
<!--                        <div>-->
<!--                            <label for="phone_num">Контактний телефон:</label>-->
<!--                            <input type="phone_num" name="phone_num" required>-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <label for="path">Виберіть маршрут</label>-->
<!--                            <select name="path">-->
<!--                                <option value="3h">3 години</option>-->
<!--                                <option value="4h">4 години</option>-->
<!--                                <option value="5h">5 годин</option>-->
<!--                                <option value="6h">6 годин</option>-->
<!--                                <option value="7h">7 годин</option>-->
<!--                                <option value="8h">8 годин</option>-->
<!--                            </select>-->
<!--                        </div>-->
							<p><b>Увага:</b> якщо яхта зайнята на бажаний день - телефонуйте 073-211-55-86 і ми підберемо Вам іншу яхту!</p>

							<p>Ваші побажання:</p>
							<p><textarea id="comment" placeholder="Ваші побажання" style="float: left; margin-left: 10px; width: 460px;"></textarea></p>

						</br>
						</br>
						<div style="matgin-top: 100px;">
							<h6>Умови бронювання та оплати:</h6>
							 <textarea id="rules" style="width: 400px; height: 200px;" readonly="true">
1. Резервація, зроблене на сайті або по телефону, дійсне протягом 24 годин.
2. При здійсненні передплати в зазначений термін бронювання зберігається за Вами.
3. При відсутності передплати протягом 24 годин, бронювання автоматично знімається і, тепер, час і день стають вільними для наступних бронювань.
4. Сума передплати повертається клієнтові в повному обсязі в разі неможливості проведення чартеру з НАШОЇ вини .
5. У разі відмови від проведення чартеру з ініціативи клієнта більш ніж за 14 днів до дати чартеру МИ відшкодовуємо повну вартість передплати.
6. У разі відмови клієнта від проведення чартеру менш ніж за 14 календарних днів до дати чартеру сума передплати не повертається, проте, МИ готові запропонувати Вам інший зручний для Вас день і час чартеру.
7. Повна оплата чартеру здійснюється безпосередньо в день чартеру перед відправленням яхти на місці.
						</textarea>
						</div>
						<div>
							<input type="checkbox" name="check_box" value="1" required>Ви погоджуєтеся з умовами бронювання та оплати<Br>
						</div>
                        <button type="submit">Отправить</button>
                    </form>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="food-images food-images-down">
                    <img src="{{url_for('static', filename='img/kaniv_sea_1.jpg')}}" width="240" height="180" alt="Sea"
                         class="food">
                    <img src="{{url_for('static', filename='img/kaniv_sea_2.jpg')}}" width="240" height="180" alt="Sea"
                         class="food">
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}